

.material-icons{
  display: none;
}


h2,h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
  font-family:Arial, Helvetica, sans-serif;
}
.index-main header{
  grid-area: hd;
  display: flex;
  align-self:center;
  justify-content: center;
  font-size: 100%;
  margin-top: 0px;
  
}



nav{
  display: flex;
  flex-direction: column;
  

}


a{  
  text-decoration: none;
  color: black;
  background-color: #A0A1C2;
  flex:1;
  display: flex;
  justify-content: center;
  align-content: center;
}

nav a:hover{
  background-color:#1f204d;
}


@media screen and (max-width: 450px) {


  /* Index */
  #menu_button{
    display: inline;
    position: absolute;
    font-size: 10vw;
    margin-top: 0;
    z-index: 10;
  }
  

  nav{
    position:fixed;
    height: 50vh;
    width: 30vh;
    left: -500vw;
    z-index: 5;
    top:10vh;
    transition: left 0.3s;
    background-color: #434593;

  }
  nav a{
    padding-top: 4rem;
    border: solid 2px;
  }



  .show{
    left: 0;
  }
  .fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 1;
  }
  .fade-layer.visible{
    display: block;
  }

  .index-main{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "hd hd hd"
    "img1 sc1 sc1"
    "sc2 sc2 img2"
    "img3 sc3 sc3"
    "ft ft ft";
    contain: content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr 20% 5%;
  }

  .index-main section h3{
    font-size: 60%;
    line-height: 1.5;
    margin-top: 0;
  }

  img{
    z-index: -10;
  }

  .img1{
    grid-area: img1;
    contain: content;

  }
  
  .img2{
    grid-area: img2;
    contain: content;


  }
  
  .img3{
    grid-area: img3 ;
    contain: content;

  }

  .section1{
    grid-area: sc1;
    contain: content;

  }
  
  .section2{
    grid-area: sc2;
    contain: content;


  }
  
  .section3{
    grid-area: sc3 ;
    contain: content;

  }


  /* Foto-album */

}